---
title: IBC
---
extends layouts/_layout
block content
  .content-ibc
    //BEGIN Главный экран
    include IBC/head
    //END Главный экран

    //BEGIN  cause
    include IBC/cause
    //END cause

    //BEGIN  better
    include IBC/better
    //END better

    //BEGIN  conclusion
    include IBC/conclusion
    //END conclusion

    //BEGIN  use
    include IBC/use
    //END use

    include IBC/order

    include IBC/modal



