//BEGIN sidebar
aside.sidebar
  a(href="index.html").sidebar__logo.green
    img(src="img/logo/logo-white.svg", alt="Логотип")
  .sidebar__checkout
    a(href="#").sidebar__checkout__back
//END sidebar