//BEGIN sidebar
header.header.hidden-sm
  .container
    .row
      .col-xs-12.center-xs
        .header__logo
          img(src="img/logo/logo.svg", alt="Логотип")
  .open-menu
    span
aside.sidebar
  a(href="index.html").sidebar__logo
    img(src="img/logo/logo.svg", alt="Логотип")
  .sidebar__menu
    nav
      ul
        li(data-menuanchor="home")
          a(href="#home") Главная
        li(data-menuanchor="afc")
          a(href="#afc") AFC
        li(data-menuanchor="ibc")
          a(href="#ibc") IBC
        li(data-menuanchor="review")
          a(href="#review") Отзывы
        li(data-menuanchor="study")
          a(href="#study") Исследования
        li(data-menuanchor="photos")
          a(href="#photos") Публикации
        li(data-menuanchor="contact")
          a(href="#contact") Контакты
//END sidebar

.mobile-menu.hidden-sm
  nav
    ul
      li.fadeInLeft.animated(data-menuanchor="home" style="animation-delay: 0.2s")
        a(href="#home") Главная
      li.fadeInLeft.animated(data-menuanchor="afc" style="animation-delay: 0.3s")
        a(href="#afc") AFC
      li.fadeInLeft.animated(data-menuanchor="ibc" style="animation-delay: 0.4s")
        a(href="#ibc") IBC
      li.fadeInLeft.animated(data-menuanchor="review" style="animation-delay: 0.5s")
        a(href="#review") Отзывы
      li.fadeInLeft.animated(data-menuanchor="study" style="animation-delay: 0.6s")
        a(href="#study") Исследования
      li.fadeInLeft.animated(data-menuanchor="photos" style="animation-delay: 0.7s")
        a(href="#photos") Публикации
      li.fadeInLeft.animated(data-menuanchor="contact" style="animation-delay: 0.8s")
        a(href="#contact") Контакты
  .social
    a(href="#")
      +icon('instagram')
    a(href="#")
      +icon('vk')
    a(href="#")
      +icon('facebook')
    a(href="#")
      +icon('youtube')