section.better
	.container
		.row.center-sm.end-xs
			.col-sm-12.col-xs-4.center-sm.start-xs
				h2 Что улучшает IBC?
		.better__parallax
			.better__block__parallax#better-1(data-invert-x="false" data-invert-y="fulse")
				div(data-depth="0.6")
					img(src="img/ibc-landing/parallax/better-1.png", alt="")
			.better__block__parallax#better-2(data-invert-x="false" data-invert-y="fulse")
				div.layer(data-depth="0.2")
					img(src="img/ibc-landing/parallax/better-2.png", alt="")
			.better__block__parallax#better-3(data-invert-x="false" data-invert-y="false" relativeInput="true")
				div.layer(data-depth="0.1")
					img(src="img/ibc-landing/parallax/better-3.png", alt="")
			.better__block__parallax#better-4(data-invert-x="false" data-invert-y="fulse")
				div.layer(data-depth="0.3")
					img(src="img/ibc-landing/parallax/better-4.png", alt="")
			.better__block__parallax#better-5(data-invert-x="false" data-invert-y="false" relativeInput="true")
				div.layer(data-depth="0.6")
					img(src="img/ibc-landing/parallax/better-5.png", alt="")
		.better__content
			img(src="img/ibc-landing/better.png", alt="")
			.better__content__left
				p.top Белковый, углеводный <br>и липидный обмен веществ;
					span
						//- +icon('check')
						i.fa.fa-check		
				p Белковый, углеводный <br>и липидный обмен веществ;
					span
						//- +icon('check')
						i.fa.fa-check		
				p Рост полезной микрофлоры <br>кишечника;
					span.mobile
						//- +icon('check')
						i.fa.fa-check		
				p Снижает уровень сахара <br>и холестирина в крови;
					span
						//- +icon('check')
						i.fa.fa-check		
				p Защищает от свободных радикалов <br>и нормализует окислительно-<br>восстановительные процессы <br>в организме.
					span
						//- +icon('check')
						i.fa.fa-check
			.better__content__right
				b #IBC_УЛУЧШАЕТ
				p Снижает риск опухолей толстой <br>кишки, снижает аппетит; 
					span
						//- +icon('check')
						i.fa.fa-check
				p.top Поддерживает жизнедеятельность <br>и размножение бифидо <br>лактобактерий; 
					span
						//- +icon('check')
						i.fa.fa-check
				p Снижает систолическое <br>давление, стабилизирует <br>артериальное давление; 
					span
						//- +icon('check')
						i.fa.fa-check
				p Снижает вирусные и <br>респираторные инфекции, <br>восстанавливает иммунитет; 
					span
						//- +icon('check')
						i.fa.fa-check

		