section.cause
	.cause__top
		.row.middle-md
			.col-xs-12.center-xs
				h2 Причины накопления шлаков и таксинов в организме
	.container
		.cause__content
			img(src="img/ibc-landing-svg/warning.svg", alt="")
			.cause__content__left
				h3 Внешние
				p Повышенный радиационный<br> и радиомагнитный фоны;
				p Интенсивное использование<br> синтетических лекарственных средств;
				p Низкое качество продуктов питания<br> и высокая концентрации в них<br> химических компонентов вплоть<br>до канцерогенов;
				p Избыточный и недостаточный<br> типы питания людей и т.д.
			.cause__content__right
				h3 Внутренние
				p Хронические патологии, особенно<br> при нарушениях функций печени и почек;
				p Неправильные обменные процессы;
				p Интенсивные физические нагрузки<br> (ВНИМАНИЕ! ЗАНИМАЮЩИЕСЯ<br> СПОРТОМ ЛЮБОГО УРОВНЯ);
				p Стрессы.
				h3 Симптомы
					p Ощущения<br> общей слабости и разбитости;
						span 1
					p Прогрессирующее снижение работоспособности;
						span 2
					p Частые головные боли и т.д.;
						span 3
		.cause__content__mobile
			.tabs
				ul.tabs__caption
					li.active внешние
					li внутренние
				.tabs__content.active
					p Повышенный радиационный<br> и радиомагнитный фоны;
					p Интенсивное использование<br> синтетических лекарственных средств;
					p Низкое качество продуктов питания<br> и высокая концентрации в них<br> химических компонентов вплоть<br>до канцерогенов;
					p Избыточный и недостаточный<br> типы питания людей и т.д.
				.tabs__content
					p Хронические патологии, особенно<br> при нарушениях функций печени и почек;
					p Неправильные обменные процессы;
					p Интенсивные физические нагрузки<br> (ВНИМАНИЕ! ЗАНИМАЮЩИЕСЯ<br> СПОРТОМ ЛЮБОГО УРОВНЯ);
					p Стрессы.
			.cause__content__mobile__bottom
				img(src="img/ibc-landing/cause-mobile-bg.png", alt="")
				h3 Симптомы
				p Ощущения<br> общей слабости и разбитости;
					span 1
				p Прогрессирующее снижение работоспособности;
					span 2
				p Частые головные боли и т.д.;
					span 3
