section.head
	.container
		.head__top
			a(href="index.html").head__top__logo
				img(src="img/logo/logo-white.svg", alt="Логотип")
			a(href="index.html").head__top__back На главную
				//- +icon('review-arrow')
				i.fa.fa-angle-left
		img(src="img/ibc-landing/head.png", alt="").head__bg
		.head__block
			.row.middle-md
				.col-md-5.col-md-offset-7.col-xs-12
					.head__block__text
						h2 IBC - очищение и восстановление организма
						span (Innovation boby cleansing)
						p Концентрат IBC (сорбент нового поколения) это натуральный органический продукт, который очищает и восстанавливает наш организм, при этом не нарушая микрофлоры ЖКТ!
						a(href="checkout.html").btn Заказать
						a(href="checkout.html").btn.btn--mobile 
							| заказать за <span>890</span> 
							+icon('ruble')
							| /шт
		.head__parallax
			.head__block__parallax#head-1(data-invert-x="false" data-invert-y="fulse")
				div(data-depth="0.6")
					img(src="img/ibc-landing/parallax/head-1.png", alt="")
			.head__block__parallax#head-2(data-invert-x="false" data-invert-y="fulse")
				div.layer(data-depth="0.4")
					img(src="img/ibc-landing/parallax/head-2.png", alt="")
			.head__block__parallax#head-3(data-invert-x="false" data-invert-y="false" relativeInput="true")
				div.layer(data-depth="0.6")
					img(src="img/ibc-landing/parallax/head-3.png", alt="")
