.conclusion__consist
	a(href="index.html").head__top__logo
		img(src="img/svgo/logo/logo-white.svg", alt="Логотип")
	.btn-close
		span
	.conclusion__consist__block
		.row
			.col-xs-7.col-xs-offset-3
				h2 Состав IBC
				h4 Диоксид кремния
					span
					.conclusion__hidden
						p Диоксид кремния (silicon dioxid или кремнезём) является важнейшим компонентом очистительного комплекса. Уникальная технология позволяет получить из обыкновенного кварцевого песка тонкодисперсный белый порошок (так называемую «белую сажу»). При взаимодействии с внутренней водой частицы порошка присоединяют к себе многочисленные гидроксильные группы. За счёт этого формируется сложная гелеобразная пространственная структура, имеющая огромное значение для проявления очистительных свойств диоксида кремния. Именно гидроксильные группы на поверхности частиц связывают, или сорбируют, различные токсины, аллергены, микроорганизмы и агрессивные продукты обмена веществ. 
						p Доказано, что диоксид кремния, выполнивший функцию энтеросорбента, проходит через желудочно-кишечный тракт, не изменяя своей структуры, и полностью выводится из организма, заодно унося связавшимися с ним  вещества. Порошок, благодаря гигантской площади своей пористой поверхности, которая достигает нескольких квадратных метров в одном грамме, имеет огромную ёмкость связывания. Частицы диоксида кремния проявляют свою сорбционную активность по отношению к солям тяжелых металлов, радионуклидам, аллергенам, билирубину, холестерину, мочевине, продуктам распада алкоголя, метаболитам, формирующим эндогенный токсикоз, продуктам распада медикаментов, канцерогенам и многим другим опасным для организма эндо- и экзогенным веществам различной природы. Связываются им также и патогенные микроорганизмы. Очень важно, что нормальная микрофлора (молочнокислые и кишечные палочки, бифидумбактерии и другие) не сорбируется коллоидными частицами и остаётся в кишечнике.
				h4 Волокна растительные нерастворимые (растительная клетчатка)
					span
					.conclusion__hidden
						p Диоксид кремния (silicon dioxid или кремнезём) является важнейшим компонентом очистительного комплекса. Уникальная технология позволяет получить из обыкновенного кварцевого песка тонкодисперсный белый порошок (так называемую «белую сажу»). При взаимодействии с внутренней водой частицы порошка присоединяют к себе многочисленные гидроксильные группы. За счёт этого формируется сложная гелеобразная пространственная структура, имеющая огромное значение для проявления очистительных свойств диоксида кремния. Именно гидроксильные группы на поверхности частиц связывают, или сорбируют, различные токсины, аллергены, микроорганизмы и агрессивные продукты обмена веществ. 
						p Доказано, что диоксид кремния, выполнивший функцию энтеросорбента, проходит через желудочно-кишечный тракт, не изменяя своей структуры, и полностью выводится из организма, заодно унося связавшимися с ним  вещества. Порошок, благодаря гигантской площади своей пористой поверхности, которая достигает нескольких квадратных метров в одном грамме, имеет огромную ёмкость связывания. Частицы диоксида кремния проявляют свою сорбционную активность по отношению к солям тяжелых металлов, радионуклидам, аллергенам, билирубину, холестерину, мочевине, продуктам распада алкоголя, метаболитам, формирующим эндогенный токсикоз, продуктам распада медикаментов, канцерогенам и многим другим опасным для организма эндо- и экзогенным веществам различной природы. Связываются им также и патогенные микроорганизмы. Очень важно, что нормальная микрофлора (молочнокислые и кишечные палочки, бифидумбактерии и другие) не сорбируется коллоидными частицами и остаётся в кишечнике.
				h4 Волокна растительные растворимые (инулин, пектин).
					span
					.conclusion__hidden
						p Диоксид кремния (silicon dioxid или кремнезём) является важнейшим компонентом очистительного комплекса. Уникальная технология позволяет получить из обыкновенного кварцевого песка тонкодисперсный белый порошок (так называемую «белую сажу»). При взаимодействии с внутренней водой частицы порошка присоединяют к себе многочисленные гидроксильные группы. За счёт этого формируется сложная гелеобразная пространственная структура, имеющая огромное значение для проявления очистительных свойств диоксида кремния. Именно гидроксильные группы на поверхности частиц связывают, или сорбируют, различные токсины, аллергены, микроорганизмы и агрессивные продукты обмена веществ. 
						p Доказано, что диоксид кремния, выполнивший функцию энтеросорбента, проходит через желудочно-кишечный тракт, не изменяя своей структуры, и полностью выводится из организма, заодно унося связавшимися с ним  вещества. Порошок, благодаря гигантской площади своей пористой поверхности, которая достигает нескольких квадратных метров в одном грамме, имеет огромную ёмкость связывания. Частицы диоксида кремния проявляют свою сорбционную активность по отношению к солям тяжелых металлов, радионуклидам, аллергенам, билирубину, холестерину, мочевине, продуктам распада алкоголя, метаболитам, формирующим эндогенный токсикоз, продуктам распада медикаментов, канцерогенам и многим другим опасным для организма эндо- и экзогенным веществам различной природы. Связываются им также и патогенные микроорганизмы. Очень важно, что нормальная микрофлора (молочнокислые и кишечные палочки, бифидумбактерии и другие) не сорбируется коллоидными частицами и остаётся в кишечнике.
				h4 Янтарная кислота 
					span
					.conclusion__hidden
						p Диоксид кремния (silicon dioxid или кремнезём) является важнейшим компонентом очистительного комплекса. Уникальная технология позволяет получить из обыкновенного кварцевого песка тонкодисперсный белый порошок (так называемую «белую сажу»). При взаимодействии с внутренней водой частицы порошка присоединяют к себе многочисленные гидроксильные группы. За счёт этого формируется сложная гелеобразная пространственная структура, имеющая огромное значение для проявления очистительных свойств диоксида кремния. Именно гидроксильные группы на поверхности частиц связывают, или сорбируют, различные токсины, аллергены, микроорганизмы и агрессивные продукты обмена веществ. 
						p Доказано, что диоксид кремния, выполнивший функцию энтеросорбента, проходит через желудочно-кишечный тракт, не изменяя своей структуры, и полностью выводится из организма, заодно унося связавшимися с ним  вещества. Порошок, благодаря гигантской площади своей пористой поверхности, которая достигает нескольких квадратных метров в одном грамме, имеет огромную ёмкость связывания. Частицы диоксида кремния проявляют свою сорбционную активность по отношению к солям тяжелых металлов, радионуклидам, аллергенам, билирубину, холестерину, мочевине, продуктам распада алкоголя, метаболитам, формирующим эндогенный токсикоз, продуктам распада медикаментов, канцерогенам и многим другим опасным для организма эндо- и экзогенным веществам различной природы. Связываются им также и патогенные микроорганизмы. Очень важно, что нормальная микрофлора (молочнокислые и кишечные палочки, бифидумбактерии и другие) не сорбируется коллоидными частицами и остаётся в кишечнике.


.pop-up
	a(href="index.html").head__top__logo
		img(src="img/svgo/logo/logo-white.svg", alt="Логотип")
	.pop-up__block
		.btn-close
			span
		.row.center-xs
			.col-xs-9
				h2 А ты знаешь свою реакцию?
				h2 Проверь бесплатно на online-тренажоре
				p займет не более 1 минуты
				a(href="#").btn__left Да, хочу
				a(href="#").btn__right Нет, спасибо


.pop-up-3
	a(href="index.html").head__top__logo
		img(src="img/svgo/logo/logo-white.svg", alt="Логотип")
	.pop-up-3__block
		form.form
			.row.center-xs
				.col-xs-10
					p Результат теста придет на Ваш e-mail в течении 5 минут
				.col-xs-12
					input(type="text" name="name" placeholder="Введите Ваше имя ")
					input(type="tel" name="phone" placeholder="Телефон")
					input(type="email" name="E-mail" placeholder="E-mail")
					input(type="submit" value="получить бесплатно").submit
		.pop-up-3__block__result
			.row.center-xs
				.col-xs-12
					p Спасибо, в течении 5 минут<br> результаты придут Вам на e-mail
				.col-xs-12
					input(type="submit" value="на главную").submit__home