section.use
	.container
		.row
			.col-xs-12.center-xs
				h2 Способ применения IBC
					a(href="#").start-md Смотреть<br>видео-инструкцию
						span
							img(src="img/play.svg", alt="")
		.use__pagination
			span.use__pagination__block.use__pagination--1.active 1
			span.use__pagination__block.use__pagination--2 2
			span.use__pagination__block.use__pagination--3 3
		.use-swiper.swiper-container
			p.up Взрослым:
			.swiper-wrapper
				.swiper-slide
					.use__block.use__block--1
						.use__block__foto
							img(src="img/ibc-landing/use-1.png", alt="")
							span 1
						p Открыть пакет IBC 210 г, <br>подготовить<span> ( ¼-½ ) стакана теплой воды <br>(не менее 60oC)</span> 
				.swiper-slide
					.use__block
						.use__block__foto.use__block__foto--span
							img(src="img/ibc-landing/use-2.png", alt="")
							span 2
						p Для приготовления<br> одной порции необходимо 20 гр концентрата перемешать<br> в <span>( ¼-½ ) стакана теплой воды (не менее 60oC)</span>  
				.swiper-slide
					.use__block
						.use__block__foto
							img(src="img/ibc-landing/use-3.png", alt="")
							span 3
						p Готово к применению
		a(href="#").mobile Смотреть<br>видео-инструкцию
			span
				img(src="img/play.svg", alt="")
		.row
			.col-xs-12
				.use__advice
					p <b>Рекомендуется:</b> принимать за 20-30 минут до еды один раз в день. При интоксикации организма прием можно увеличить до 2-3 раз в день.
			.col-xs-12
				.use__recommendation
					.use__recommendation__block
						p Доза для детей:
						p ½ - 1 мерная ложка (5-10 мл) в сутки
					.use__recommendation__block.use__recommendation__block--last
						p Противопоказания:
						p Индивидуальная непереносимость компонентов продукта.






