include _mixins
doctype html
html
  head
    include _head

  body
    #preloader
      .svg-wrapper
        svg(height='150', width='150', xmlns='http://www.w3.org/2000/svg')
          rect.animate(height='150', width='150')
        .text
          img(src="img/logo/logo-preloader.svg", alt="")
          img(src="img/logo/logo-preloader-text.svg", alt="")
    script.
      var p = document.querySelector('.animate'),
      offset = 0;
      var offsetMe = function() {
      if(offset < 0) {offset = 600;}
      p.style.strokeDashoffset = offset;
      offset= offset- 5;
      requestAnimationFrame(offsetMe);
      }; offsetMe();

    block content

    //LOAD SCRIPTS
    block scripts
      script(src="https://cdn.jsdelivr.net/npm/vue")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
      script(type="text/javascript" src="js/app.js")
