.icon-afc-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.icon-checkout-back {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-checkout-delete {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-inst-arrow {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1.01em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-review-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-ruble {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-viber {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-whatsapp {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
